*, *::before, *::after {
   padding: 0;
   margin: 0;
   border: 0;
   box-sizing: border-box;
}


.menu a {
   text-decoration: none;
}
.menu a.parent {
   margin: 0px 15px 0px 0px;
}
.menu li {
   list-style: none;
   position: relative; 
}


.menu__list {
   display: flex;
}
.menu__list>li{
   margin: 0px 30px 0px 0px;
}
.menu__link {
   color: #000;
}
.sub-menu__list {
   display: none;
   min-width: 300px;
   position: absolute;
   left: 0;
   top: 15px;
   padding: 10px 0px 0px 0px;
}
.sub-menu__list>li {
   background-color: grey;
}
.sub-menu__link {
   color: orange ;
   display: inline-block;
   padding: 5px 10px;
}
.sub-sub-menu__list {
   display: none;
   position: absolute;
   top: 0;
   left: 100%;
   min-width: 300px;
   padding: 0px 0px 0px 5px;
}
.sub-sub-menu__list>li {
   background-color: #000;
}
.sub-sub-menu__link {
   color: #fff;
   display: inline-block;
   padding: 5px 10px;
}


.arrow {
   display: none;
   position: absolute;
   right: 0;
   top: 8px; 
   width: 0;
   height: 0;
   border-top: 5px solid #000;
   border-right: 5px solid transparent;
   border-left: 5px solid transparent;
}
.arrow.active {
   transform: rotate(180deg);
}

.sub-menu__arrow.arrow {
   right: 10px;
   border-left : 5px solid orange;
   border-right: none;
   border-top: 5px solid transparent;
   border-bottom: 5px solid transparent;
}


body.mouse .menu__list>li:hover .sub-menu__list {
   display: block; 
}
body.mouse .sub-menu__list>li:hover .sub-sub-menu__list {
   display: block;
} 

body.touch .sub-menu__list.open {
   display: block;
}
body.touch .sub-sub-menu__list.open {
   display: block;
}
body.touch .arrow {
   display: block;
}

@media (max-width: 767px) {
   .wrapper {
      padding: 15px;
   }
   .menu__list {
      display: block;
   }
   .menu__list>li {
      margin: 0px 0px 10px 0px;
   }
   .sub-menu__list {
      position: relative;
      left: 0;
      top: 0;
   }
   .sub-sub-menu__list {
      padding: 0 5px;
      position: relative;
      left: 0;
      top: 0;
   }
   .sub-menu__arrow.arrow {
      right: 10px;
      top: 12px;
      border-bottom: none;
      border-left : 5px solid transparent;
      border-top: 5px solid orange;
      border-right: 5px solid transparent;
   }
}

